<main>
  <div class="frame">
    <div class="frame-border"></div>

    <div class="ornament top"></div>
    <div class="ornament bottom"></div>

    <div class="content">
      <img class="img-puzzle" src="assets/images/millennium-puzzle-v2.webp" alt="YuGiOh Logo" />
      <img class="img-logo" src="assets/images/yugioh-logo-v2.webp" alt="YuGiOh Logo" />
      <form class="content-box">
        <h1>DUEL STATS</h1>
        <p class="text">Inicia sesión para continuar</p>
        <div class="input-box">
          <div class="email-box">
            <div class="icon-user-box">
              <i class="fa-solid fa-user"></i>
            </div>
            <input type="email" name="email" placeholder="Correo" [(ngModel)]="email" />
          </div>
          <div class="password-box">
            <div class="icons-password-cont">
              <i class="fa-solid fa-lock"></i>
              <div (click)="changePasswordVisibility()" class="icon-circle">
                @if (!showPassword) {
                  <i class="fa-solid fa-eye"></i>
                  <!-- *ngIf="!showPassword" -->
                } @else {
                  <i class="fa-solid fa-eye-slash"></i>
                  <!-- *ngIf="showPassword" -->
                }
              </div>
            </div>
            <input
              name="password"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Contraseña"
              [(ngModel)]="password"
            />
          </div>
          <div class="validations-box">
            @for (error of errorData(); track error.textError) {
              <div class="error-box">
                <li>{{ error.textError }}</li>
              </div>
            }
            <div class="alert-box">
              @if (errorAccount()) {
                <li>{{ errorAccount() }}</li>
              }
            </div>
          </div>
        </div>
        <a class="link-password-forget" routerLink="/forgot-your-password">¿Olvidaste tu contraseña?</a>
        <button type="button" (click)="login()" [disabled]="isLoading()">
          @if (isLoading()) {
            <span>Cargando...</span>
          } @else {
            <span>Iniciar Sesión</span>
          }
        </button>
        <div class="account-box">
          <label for="">¿No tienes cuenta?</label>
          <a routerLink="/register_account">Regístrate aquí</a>
        </div>
      </form>
    </div>
  </div>
</main>
