main {
    background: var(--primary-color);
    font-family: var(--font-type);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.content-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

h1,
p {
    align-self: center;
}

p,
label {
    color: var(--color-text);
}

h1 {
    color: var(--color-title-first);
    margin: .5rem 0rem .5rem 0rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: var(--color-link-first);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 7rem;
}

.content {
    background-color: rgb(22, 26, 30);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    min-height: 38rem;
    border-radius: 1rem;
    border: 2px #2f2f2f solid;
    padding: 2rem 0rem 2rem 0rem;
}

.content-box {
    margin: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.link-box {
    display: flex;
    justify-content: center;
}

.link-box label {
    margin-right: 1rem;
}

button {
    height: 60px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 1.5rem 0rem 1.5rem 0rem;
    background:
        linear-gradient(180deg,
            #e3c362,
            #684b1e);
    clip-path: polygon(6px 0,
            calc(100% - 6px) 0,
            100% 6px,
            100% calc(100% - 6px),
            calc(100% - 6px) 100%,
            6px 100%,
            0 calc(100% - 6px),
            0 6px);
    transition: .3s;
    z-index: 1;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(255, 215, 0, .35);
}

/* INPUTS */
input {
    width: 100%;
    background: rgba(5, 10, 20, .9);
    border: 1px solid rgba(212, 177, 90, .5);
    border-radius: .3rem;
    margin-bottom: 1rem;
    padding: 1.2rem 0rem 1.2rem 2.7rem;
    color: white;
    font-size: 16px;
    outline: none;
    transition: .3s;
    z-index: 1;
}

input:focus {
    border-color: #d4b15a;
    box-shadow:
        0 0 15px rgba(212, 177, 90, .25),
        inset 0 0 10px rgba(212, 177, 90, .08);
}

.error-box {
    display: flex;
    justify-content: flex-start;
    margin: .7rem 0rem .7rem 2rem;
}

.error-box .fa-xmark,
.error-box li {
    color: #cd2020;
}