p,
h1,
label {
    color: #ffff;
}

h1 {
    color: var(--color-title-first);
    margin-bottom: 1rem;
}

label {
    margin-bottom: .5rem;
}

.wrapper {
    font-family: var(--font-type);
}

.cont-text {
    margin-left: 3rem;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.cont-inputs {
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.alert-box p {
    margin-left: .5rem;
}

.validations-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.error-box,
.error-box li, .alert-box li {
    color: #cd2020;
}

/* INPUTS */
input {
    margin-bottom: 2rem;
    padding: .5rem;
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-border-primary);
    border-radius: .2rem;
    color: #ffff;
}

input:focus {
    border-color: #d4b15a;
    box-shadow:
        0 0 15px rgba(212, 177, 90, .25),
        inset 0 0 10px rgba(212, 177, 90, .08);
}

button {
    height: 3rem;
    width: 40%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-self: center;
    background: rgb(67, 44, 115);
    border-radius: .4rem;
    transition: .3s;
    z-index: 1;
}

.button-reverse {
    height: 3rem;
    border: 1px solid rgb(85, 37, 187);
    color: rgb(114, 68, 215);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    background: rgba(0, 0, 0, 0);
    transition: .3s;
    z-index: 1;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(141, 25, 243, 0.55);
}

.status-icon {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        radial-gradient(circle at center,
            #5d2d91 0%,
            #43206b 70%);
    border: 1px solid #a855f7;
    box-shadow:
        0 0 3px rgba(168, 85, 247, .8),
        inset 0 0 3px rgba(255, 255, 255, .15);
}

.status-icon span {
    color: #d8b4fe;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.cont-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-password-rules {
    margin: 1rem 3rem 1rem 4rem;
}

.content-password-rules p {
    margin-bottom: 1rem;
}

.password-rules {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.rule {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.rule p {
    margin: 0;
}

.cont-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 70%;
}