<main>
  <div class="content-logo">
    <img src="assets/images/eye-of-ra.png" alt="YuGiOh Logo" />
    <h1 for="">Estadísticas de Duelo</h1>
  </div>
  <div class="content">
    <div class="content-box">
      <p-toast />
      <h1>Nueva contraseña</h1>
      <div class="text-box">
        <p>Ingresa tu nueva contraseña</p>
        <p>para restablecer tu cuenta.</p>
      </div>
      <label for="">Nueva contraseña</label>
      <input [(ngModel)]="password" type="password" placeholder="Ingresa tu nueva contraseña" />
      <label for="">Confirmar contraseña</label>
      <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirma tu nueva contraseña" />
    </div>
    <div class="cont-error-box">
      @for (error of errorData(); track error.textError) {
        <div class="error-box">
          <li>{{ error.textError }}</li>
        </div>
      }
    </div>
    <div class="content-password-rules">
      <p>La contraseña debe contener:</p>
      <div class="password-rules">
        <div class="rule">
          <div class="status-icon">
            <span>✓</span>
          </div>
          <p>Al menos 6 caracteres</p>
        </div>

        <div class="rule">
          <div class="status-icon">
            <span>✓</span>
          </div>
          <p>Una letra mayúscula</p>
        </div>

        <div class="rule">
          <div class="status-icon">
            <span>✓</span>
          </div>
          <p>Una letra minúscula</p>
        </div>

        <div class="rule">
          <div class="status-icon">
            <span>✓</span>
          </div>
          <p>Un número</p>
        </div>
      </div>
    </div>
    <button type="button" (click)="resetPassword()">
      @if (isLoading()) {
        <span>Cargando...</span>
      } @else {
        <span>Restablecer contraseña</span>
      }
    </button>
    <div class="link-box">
      <label for="">Volver a</label>
      <a routerLink="/login">iniciar sesión</a>
    </div>
  </div>
</main>
