<main>
  <div class="content-logo">
    <img src="assets/images/eye-of-ra.png" alt="YuGiOh Logo" />
    <h1 for="">Estadísticas de Duelo</h1>
  </div>
  <div class="content">
    <div class="content-box">
      <div class="warning-icon">
        <div class="triangle">
          <span>!</span>
        </div>
      </div>
      <h1>Token inválido</h1>
      <p>El enlace que estás intentando usar ya no es válido porque ha expirado.</p>
      <div class="divider">
        <span class="diamond"></span>
      </div>
      <p>Solicita un nuevo enlace para restablecer tu contraseña.</p>
    </div>
    <div class="link-box">
      <label for="">Volver a</label>
      <a routerLink="/login">iniciar sesión</a>
    </div>
  </div>
</main>
