<aside [class.collapsed]="isCollapsed()">
  <div class="cont-image">
    @if (isCollapsed()) {
      <img
        class="puzzle"
        src="assets/images/millennium-puzzle-v2.webp"
        alt="YuGiOh Logo"
        (click)="toggleSidebar()"
      />
    } @else {
      <img
        class="pyramid"
        src="assets/images/yugioh-logo-v2.webp"
        alt="YuGiOh Logo"
        (click)="toggleSidebar()"
      />
    }
  </div>
  <div>
    <a routerLink="/home" routerLinkActive="active" class="menu-item">
      <i class="pi pi-home"></i>
      <span class="menu-text">Inicio</span>
    </a>
    <a routerLink="/player-perfil" routerLinkActive="active" class="menu-item">
      <i class="pi pi-user"></i>
      <span class="menu-text">Perfil</span>
    </a>
    <a routerLink="/player-history" routerLinkActive="active" class="menu-item">
      <i class="pi pi-calendar"></i>
      <span class="menu-text">Historial</span>
    </a>
    <a routerLink="/player-vs-player-statistics" routerLinkActive="active" class="menu-item">
      <i class="pi pi-chart-bar"></i>
      <span class="menu-text">Vs Oponente</span>
    </a>
    <a routerLink="/create-duel" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-shield-halved"></i>
      <span class="menu-text">Duelos</span>
    </a>
    <button (click)="logout()" class="menu-item">
      <i class="pi pi-sign-out" style="color: var(--color-type-red)"></i>
      <span class="menu-text" style="color: var(--color-type-red)">Cerrar Sesión</span>
    </button>
  </div>
</aside>
