<main>
  <div class="content-logo">
    <img src="assets/images/eye-of-ra.png" alt="YuGiOh Logo" />
    <h1 for="">Estadísticas de Duelo</h1>
  </div>
  <div class="content">
    <div class="content-box">
      <p-toast />
      <h1>¿Olvidaste tu contraseña?</h1>
      <p>No te preocupes, pasa. Ingresa tu correo y te enviaremos instrucciones.</p>
      <label for="">Correo</label>
      <input type="email" placeholder="tu@email.com" [(ngModel)]="email" name="email" />
      <div class="validations-box">
        <div class="error-box">
          @for (error of errorData(); track error.textError) {
            <li>{{ error.textError }}</li>
          }
        </div>
      </div>
      <button type="submit" (click)="forgotYourPassword()">
        @if (isLoading()) {
          <span>Cargando...</span>
        } @else {
          <span>Enviar enlace</span>
        }
      </button>
    </div>
    <div class="link-box">
      <label for="">Volver a</label>
      <a routerLink="/login">Iniciar sesión</a>
    </div>
  </div>
</main>
