@import "primeicons/primeicons.css";

:root {
  /* primary colors */
  --primary-color: linear-gradient(180deg,
      rgba(20, 25, 40, .95),
      rgba(5, 8, 15, .98));
  --secondary-color: #141414;

  /* font type */
  --font-type: sans-serif;

  /* titles */
  --color-title-first: #d4b15a;
  --color-title-second: #e8e7e7;

  /* texts */
  --color-text: #9d8e8e;

  /* links */
  --color-link-first: #329df5;
  --color-link-second: #d400ff;

  /* colors types */
  --color-type-red: rgb(220, 17, 17);
}

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}