@import "primeicons/primeicons.css";

:root {
  /* primary colors */
  --primary-color: linear-gradient(180deg,
      rgba(20, 25, 40, .95),
      rgba(5, 8, 15, .98));
  --secondary-color: #141414;

  /* font type */
  --font-type: sans-serif;

  /* titles */
  --color-title-first: #d4b15a;
  --color-title-second: #e8e7e7;

  /* texts */
  --color-text: #9d8e8e;
  --color-text-second: #cdcdcd;
  --color-text-third: #8d8d8d;

  /* links */
  --color-link-first: #329df5;
  --color-link-second: #d400ff;

  /* colors types */
  --color-type-red: rgb(220, 17, 17);

  /* colors border */
  --color-border-primary: #545454;
  --color-border-secondary: #594c2a;

  /* colors result duels */
  --color-victory: #4CAF50;
  --color-defeat: #d9534f;
  --color-draw: #d4b15a;

  /* colors icons */
  --color-icon-primary: #bd7dca;

}

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos del table de la libreria PrimeNG */
.dark-table .p-datatable-thead > tr > th {
  background: #141414;
  color: #d4af37;
  border-color: #333;
}

.dark-table .p-datatable-tbody > tr > td {
  background: #1a1a1a;
  color: #eeeeee;
  border-color: #333;
}

.dark-table .p-datatable-tbody > tr:hover > td {
  background: #242424;
}

.dark-table .p-paginator {
  background: #141414;
  color: #eeeeee;
  border-color: #333;
}

.dark-table .p-paginator .p-paginator-page {
  color: #eeeeee;
}

.dark-table .p-paginator .p-paginator-page:hover {
  background: #333;
  color: #d4af37;
}

/* Contenedor de paginación */
.dark-table .p-paginator {
  background: #141414;
  color: #eeeeee;
  border-color: #333;
}

/* Botones anterior / siguiente / primera / última */
.dark-table .p-paginator .p-paginator-prev,
.dark-table .p-paginator .p-paginator-next,
.dark-table .p-paginator .p-paginator-first,
.dark-table .p-paginator .p-paginator-last {
  color: #eeeeee;
}

/* Botones de número de página */
.dark-table .p-paginator .p-paginator-page {
  color: #eeeeee;
}

/* Hover de páginas */
.dark-table .p-paginator .p-paginator-page:hover,
.dark-table .p-paginator .p-paginator-prev:hover,
.dark-table .p-paginator .p-paginator-next:hover,
.dark-table .p-paginator .p-paginator-first:hover,
.dark-table .p-paginator .p-paginator-last:hover {
  background: #292929;
  color: #d4af37;
}

/* Página actual */
.dark-table .p-paginator .p-paginator-page-selected {
  background: #d4af37;
  color: #141414;
  border-color: #d4af37;
}