.wrapper {
    font-family: var(--font-type);
}

h1 {
    color: var(--color-title-first);
}

p,
label {
    color: var(--color-title-second);
}

label {
    margin-bottom: .5rem;
}

input {
    margin-bottom: 2rem;
    padding: .5rem;
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-border-primary);
    border-radius: .2rem;
    color: #ffff;
}

.cont-text {
    margin: 0rem 0rem 3rem 2rem;
}

.cont-text h1 {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

.cont-inputs {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cont-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    width: 40%;
    height: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-self: center;
    background:
        linear-gradient(180deg,
            #e3c362,
            #684b1e);
    border-radius: .4rem;
    transition: .3s;
    z-index: 1;
}

.button-reverse-v2 {
    height: 3rem;
    border: 1px solid #e3c362;
    color: #e3c362;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    background: rgba(0, 0, 0, 0);
    transition: .3s;
    z-index: 1;
}

.button-v2:hover, 
.button-reverse-v2:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(255, 215, 0, .35);
}
