<main>
  <div class="content-logo">
    <img src="assets/images/eye-of-ra.png" alt="YuGiOh Logo" />
    <h1 for="">Estadísticas de Duelo</h1>
  </div>
  <div class="content">
    <div class="content-box">
      <div class="spinner"></div>
      <h1>Validando enlace...</h1>
      <p>Estamos verificando el enlace para restablecer tu contraseña.</p>
      <p>Esto puede tardar unos segundos.</p>
    </div>
    <div class="divider">
      <span class="diamond"></span>
    </div>
    <p>Por favor espera un momento.</p>
  </div>
</main>
